*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: hsl(47, 88%, 63%);
    margin: 200px;
}
.container{
    max-width: 300px;
    max-height: 400px;
    height: 400px;
    width: 300px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 1px black;
    border: solid 2px;
}
.image{
    background-image: url('../images/illustration-article.svg');
    height: 150px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.sla{
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(214, 201, 22, 0.808);
    margin: 20px;
    width: 60px;
    height: 20px;
    border-radius: 3px;
}
.Learning{
    text-align: center;
    padding: 3px;
}
.p1{
    margin: 20px;
    font-size: 13px;
    font-weight: bold;
}
.p2{
    margin-left: 20px;
    margin-top: -10px;
    font-size: 16px;
}
h1{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
.avatar{
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: -5px;
    width: 30px;
    font-weight: bold;
    
}
.name{
    font-weight: 900;
    font-size: 13px;
    margin-left: 60px;
    margin-top: -28px;
}